@import "tailwindcss";

@font-face {
  font-family: 'Joly Display';
  src: url('./fonts/fonnts.com-Joly_Display_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Joly Display';
  src: url('./fonts/fonnts.com-Joly_Display_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Joly Display';
  src: url('./fonts/fonnts.com-Joly_Display_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Joly Display';
  src: url('./fonts/fonnts.com-Joly_Display_Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

body {
  font-family: 'Sora', sans-serif;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}